<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceTracker">
        <activity android:name=".MainActivity" android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LandingPageActivity" android:exported="false" />
        <activity android:name=".ui.TransactionsActivity" android:exported="false" />
        <activity android:name=".ui.AdminActivity" android:exported="false" />
        <activity android:name=".ui.AccountSetupActivity" android:exported="false" />
        <activity android:name=".ui.SignUpActivity" android:exported="false" />
        <activity android:name=".ui.LoginActivity" android:exported="false" />
        <activity android:name=".ui.budget.BudgetsActivity" android:exported="false" android:parentActivityName=".ui.LandingPageActivity"/>
        <activity android:name=".ui.goals.GoalsActivity" android:exported="false" android:parentActivityName=".ui.LandingPageActivity"/>

    </application>

</manifest>
